@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&family=Roboto+Mono&display=swap');

#name{
  text-align: center;
  font-family: 'Crimson Text', serif;
    color: #0011ff;
    font-weight: bold; 
    font-size: 25
  
  
}
.calculator {
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    padding: 20px;
    height: 400px;
    width: 400px;
    margin: auto;
    background-color: #00fffb;
    margin-top: 40px;
    
}
.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #ffffff;
    border: 0.2rem outset pink;
    color: black;
    font-weight: bold; 
    border-radius: 5px;
    width: 100%;
    height: 65%;
    margin-right: 5px;
    margin-left: 5px;
}
#btn {
    background-color: #fa0000;
    border: 0.2rem outset pink;
    margin-right: 5px;
    margin-left: 5px; 
}
input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #fbff00;
    color: black;
    font-weight: bold; 
    border: 0.2rem outset pink;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
    margin-left:5px ;
    margin-right:5px;
}
input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
